$grid-gap: 20px;
$grid-padding: 20px;
$container-bg-color: #f6f6f6;
$container-border-radius: 10px;
$container-max-width: 1200px;
$container-box-shadow: 0 4px 8px rgba(170, 165, 165, 0.05);
$card-bg-color: #ff6060;
$card-border-radius: 10px;
$card-box-shadow: 0 4px 8px rgba(212, 211, 211, 0.1);
$card-hover-transform: scale(1.05);
$card-text-color: white;
$card-font-size: 18px;
$card-text-padding: 10px;