$collapse-bg-color: #ff6060;
$collapse-text-color: white;
$collapse-margin-bottom: 10px;
$collapse-border-radius: 5px;
$collapse-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$collapse-transition: max-height 0.3s ease-in-out;
$collapse-width: 40%; 
$collapse-padding: 10px; 
$content-bg-color:  #fbfbfb;
$content-text-color: black;
$content-font-size: 14px;
$content-border-color: #ddd;
$title-font-size: 18px; 
$title-height: 50px; 
$title-transition: background-color 0.3s;