$container-padding: 20px;
$container-max-width: 1000px;
$collapse-bg-color: #ff6060;
$collapse-hover-color: #e75555;
$collapse-text-color: white;
$collapse-margin-bottom: 10px;
$collapse-border-radius: 5px;
$collapse-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$collapse-padding: 10px; 
$title-font-size: 16px; 
$title-height: 40px; 
$content-bg-color: #fbfbfb;
$content-text-color: black;
$content-font-size: 16px;
$content-border-color: #ddd;
