$font-family: 'Arial', sans-serif;
$primary-color: #ff5a5f;
$secondary-color: #777;
$background-color: #fff;
$text-color: #333;
$highlight-color: #ff6060;
$light-bg-color: rgba(255, 255, 255, 0.7);
$hover-bg-color: rgba(255, 255, 255, 1);
$box-shadow-main: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$star-size: 20px;
$max-width-card: 1200px;
$max-width-slideshow: 1200px;